body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #2b4b7c;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

main {
    max-width: 840px;
    margin: 20px auto;
    padding: 20px;
    display: block;
}

aside {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    float: right;
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 4px;
}

footer {
    clear: both;
}

p {
    padding: 0;
}